$color1: #c05b4d;
$color2: #00d8ff;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Lato", "Helvetica Neue", "Arial", serif;
    font-size: 1.6em;
}
html {
    font-size: 12px;
}

:focus {
    outline: none;
}

#header, #container {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0 0;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: $color1;
}
header {
    text-align: center;
    div {
        text-align: center;
        h1 {
            margin: 0;
            padding: 0;
            a {
                font-size: 1em;
                &:hover {
                    color: $color2;
                }
            }
        }
        p {
            padding: 0;
            margin: 0;
            font-size: .6em;
        }
    }
    ul {
        margin-top: 10px;
        li {
            display: inline-block;
            margin: 0 .5em;
            a {
                font-size: .8em;
                transition: border .2s ease-in-out;
                border-bottom: 2px solid #fff;
                &:hover {
                    border-bottom: 2px solid $color1;
                    cursor: pointer;
                }
            }
        }
        .selected {
            a {
                color: $color2;
            }
        }
    }
}
.content {
    margin: 30px 0 0;
}

.login, .register {
    text-align: center;
    input {
        width: 188px;
        padding: 0 5px;
        height: 30px;
        line-height: 30px;
        margin: 10px 0;
        border: 1px solid $color1;
        transition: border-color .2s ease-in-out;
        &:hover {
            border-color: $color2;
        }
        &:focus {
            border-color: $color2;
        }

    }
    button {
        padding: 0;
        width: 200px;
        height: 30px;
        line-height: 30px;
        margin: 10px 0;
        border: 1px solid $color1;
        background: $color1;
        color: #fff;
        transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
        &:hover {
            border-color: $color2;
            background: $color2;
            cursor: pointer;
        }
    }
}

.error {
    background: rgba(191,87,73,0.2);
}
